body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif!important;
}

@font-face {
	font-family: 'Big Caslon';
	src: url('BigCaslon-Medium.woff2') format('woff2'), url('BigCaslon-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

.logo {
	/* margin: 0 auto; */
	display: block;
	margin-top: 26px;
	margin-bottom: 30px;
	padding-left: 30px;
}

img.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 55px;
}

.col9 {
	height: 100%;
	min-height: 1015px;
	padding-top: 30px;
	padding-bottom: 50px;
background-image: linear-gradient( 
45deg ,#007cde , #01e9bd);
}

.containerwidth {
	margin-left: 60px;
	margin-right: 60px;
}

.status h1 {
	color: #fff;
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 41px;
	margin-top: 31px;
	text-transform: uppercase;
}

.sectext {
	margin-bottom: 30px;
}

.sectext h4 {
	color: #fff;
	font-weight: 700;
	margin-bottom: 20px;
}

.sectext p {
	color: #fff;
	font-size: 18px;
}

.sectext a {
	color: #fff;
	font-size: 18px;
	text-decoration: underline;
}