body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif!important;
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Bold.woff2') format('woff2'),
        url('CooperHewitt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt Book';
    src: url('CooperHewitt-BookItalic.woff2') format('woff2'),
        url('CooperHewitt-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt Book';
    src: url('CooperHewitt-Book.woff2') format('woff2'),
        url('CooperHewitt-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-HeavyItalic.woff2') format('woff2'),
        url('CooperHewitt-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Heavy.woff2') format('woff2'),
        url('CooperHewitt-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-BoldItalic.woff2') format('woff2'),
        url('CooperHewitt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Light.woff2') format('woff2'),
        url('CooperHewitt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-LightItalic.woff2') format('woff2'),
        url('CooperHewitt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Medium.woff2') format('woff2'),
        url('CooperHewitt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-MediumItalic.woff2') format('woff2'),
        url('CooperHewitt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-SemiboldItalic.woff2') format('woff2'),
        url('CooperHewitt-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Semibold.woff2') format('woff2'),
        url('CooperHewitt-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-ThinItalic.woff2') format('woff2'),
        url('CooperHewitt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Thin.woff2') format('woff2'),
        url('CooperHewitt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

.containerimg {
  position: relative;
  text-align: center;
  color: white;
}
.full-page-wrapper {
    min-height: 100vh;
    /* padding-left: 0; */
    /* padding-right: 0; */
}

.auth {
    min-height: 100vh;
}
.contimg{    width: 100%;
    object-fit: cover;
    height: 100%;}
.bottom-left {
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.top-left {
  position: absolute;
  top: 8px;
  width: 100%;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landimg2 li a {
    color: #fff;
}
.landimg2 li {
    display: inline;
    margin-right: 24px;
    margin-left: 30px;
}
.landimg li img {
    width: 245px;
}
.landimg li {
    display: inline;
    margin-left: 10px;
    margin-right: 40px;
}
.homeland2 h5 {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 700; color: #000;
}
.logoimg {
    width: 250px!important;
    top: 20px;
    margin: 0 auto;
}
.homeland2 h1 {
    font-size: 30px;
    margin-top: 5px;
    font-family: 'Cooper Hewitt';
    font-weight: 400; color: #000;
}
.homeland h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 600; color: #000;
}
.homeland h4 {
    font-size: 26px;
    font-weight: 500;
    line-height: 40px; color: #000;
}
.floatpos img {
    width: 18px!important;
    margin-right: 5px;
    margin-top: -12px;
}
.floatpos a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}
.homeland{}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0pc;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
.homeland h4 {
    margin-bottom: 34px;
    font-size: 21px;
    line-height: 26px;
}
.homeland h2 {
    margin-top: 34px;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 600;
}
.landimg li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.landimg{padding-left: 0px;}
.landimg li img {
    width: 143px;
    height: auto;
}
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.logoimg {
    width: 137px !important;
    top: 20px;
    margin: 0 auto;
    height: auto !important;
}
.top-left {
    position: absolute;
    top: 66px;
    width: 100%;
}
.floatpos img {
    width: 18px !important;
    margin-right: 5px;
    margin-top: -12px; height: auto !important;
}
.contimg {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.auth {
    min-height: 100vh;
}
.landimg2 li {
    display: inline;
    margin-right: 22px;
    margin-left: 22px;
}
.landimg2{padding-left: 0px;}
.bottom-left {
  position: absolute;
  bottom: 60px;
  width: 100%;
}
}